In [1]:
pip install faker

Requirement already satisfied: faker in c:\users\lenovo\anaconda3\lib\site-packages (37.4.2)
Requirement already satisfied: tzdata in c:\users\lenovo\anaconda3\lib\site-packages (from faker) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",               
    password="S@nthosh107",  
    database="placement_app_db"
)
 
cursor = connection.cursor()
print("Connected to MySQL database.")

Connected to MySQL database.

In [4]:
# STUDENTS table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT,
    gender VARCHAR(10),
    email VARCHAR(255),
    phone VARCHAR(30),
    enrollment_year INT,
    course_batch VARCHAR(50),
    city VARCHAR(100),
    graduation_year INT
)
''')
 
# PROGRAMMING table
cursor.execute('''
CREATE TABLE IF NOT EXISTS programming (
    programming_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    language VARCHAR(50),
    problems_solved INT,
    assessments_completed INT,
    mini_projects INT,
    certifications_earned INT,
    latest_project_score INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
)
''')
 
# SOFT SKILLS table
cursor.execute('''
CREATE TABLE IF NOT EXISTS soft_skills (
    soft_skill_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    communication INT,
    teamwork INT,
    presentation INT,
    leadership INT,
    critical_thinking INT,
    interpersonal_skills INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
)
''')
 
# PLACEMENTS table
cursor.execute('''
CREATE TABLE IF NOT EXISTS placements (
    placement_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    mock_interview_score INT,
    internships_completed INT,
    placement_status VARCHAR(50),
    company_name VARCHAR(255),
    placement_package DECIMAL(10,2),
    interview_rounds_cleared INT,
    placement_date DATE,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
)
''')
 
connection.commit()
print("All 4 tables created successfully.")

All 4 tables created successfully.

In [5]:
cursor.execute("SELECT DATABASE();")
print("Current database is:", cursor.fetchone()[0])

Current database is: placement_app_db

In [6]:
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print("Tables in your database:", tables)

Tables in your database: [('placements',), ('programming',), ('soft_skills',), ('students',)]

In [9]:
from faker import Faker
import random
 
fake = Faker()
 
def generate_students(n=100):
    for _ in range(n):
        # === STUDENT DATA ===
        name = fake.name()
        age = random.randint(20, 25)
        gender = random.choice(["Male", "Female", "Other"])
        email = fake.email()
        phone = fake.phone_number()
        enrollment_year = random.randint(2019, 2023)
        course_batch = f"Batch-{random.randint(1, 5)}"
        city = fake.city()
        graduation_year = enrollment_year + 4
 
        cursor.execute('''
            INSERT INTO students (name, age, gender, email, phone, enrollment_year, course_batch, city, graduation_year)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        ''', (name, age, gender, email, phone, enrollment_year, course_batch, city, graduation_year))
 
        student_id = cursor.lastrowid  # use this for related tables
 
        # === PROGRAMMING DATA ===
        cursor.execute('''
            INSERT INTO programming (student_id, language, problems_solved, assessments_completed, mini_projects, certifications_earned, latest_project_score)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        ''', (
            student_id,
            random.choice(["Python", "SQL"]),
            random.randint(240, 300),
            random.randint(1, 10),
            random.randint(0, 3),
            random.randint(0, 3),
            random.randint(0, 100)
        ))
 
        # === SOFT SKILLS DATA ===
        cursor.execute('''
            INSERT INTO soft_skills (student_id, communication, teamwork, presentation, leadership, critical_thinking, interpersonal_skills)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        ''', (
            student_id,
            random.randint(50, 100),
            random.randint(50, 100),
            random.randint(50, 100),
            random.randint(50, 100),
            random.randint(50, 100),
            random.randint(50, 100)
        ))
 
        # === PLACEMENT DATA ===
        placement_status = random.choice(["Ready", "Not Ready", "Placed"])
        company = fake.company() if placement_status == "Placed" else None
        package = round(random.uniform(3.0, 15.0), 2) if company else None
        interview_rounds = random.randint(1, 5)
        date = fake.date_this_year() if company else None
 
        cursor.execute('''
            INSERT INTO placements (student_id, mock_interview_score, internships_completed, placement_status, company_name, placement_package, interview_rounds_cleared, placement_date)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        ''', (
            student_id,
            random.randint(40, 100),
            random.randint(0, 3),
            placement_status,
            company,
            package,
            interview_rounds,
            date
        ))
 
    connection.commit()
    print(f"Inserted {n} fake student records.")

In [10]:
df = generate_students()  # Generates 100 students 
print(df)

Inserted 100 fake student records.
None

In [26]:
students_df = pd.read_sql("SELECT * FROM students", connection)
students_df.to_csv("students.csv", index=False)

programming_df = pd.read_sql("SELECT * FROM programming", connection)
programming_df.to_csv("programming.csv", index=False)

soft_skills_df = pd.read_sql("SELECT * FROM soft_skills", connection)
soft_skills_df.to_csv("soft_skills.csv", index=False)

placements_df = pd.read_sql("SELECT * FROM placements", connection)
placements_df.to_csv("placements.csv", index=False)

print("All tables saved to CSV files.")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\3215872644.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  students_df = pd.read_sql("SELECT * FROM students", connection)

âœ… All tables saved to CSV files.

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\3215872644.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  programming_df = pd.read_sql("SELECT * FROM programming", connection)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\3215872644.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  soft_skills_df = pd.read_sql("SELECT * FROM soft_skills", connection)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\3215872644.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  placements_df = pd.read_sql("SELECT * FROM placements", connection)

In [20]:
import pandas as pd
df_students = pd.read_sql("SELECT * FROM students LIMIT 10", connection)
df_students

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\1731807160.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_students = pd.read_sql("SELECT * FROM students LIMIT 10", connection)

,student_id,name,age,gender,email,phone,enrollment_year,course_batch,city,graduation_year
0,1,James Osborne,22,Male,michaelnguyen@example.net,855-975-6136x730,2019,Batch-2,Cassandrachester,2023
1,2,Lisa Chapman,25,Male,luissalinas@example.com,+1-998-219-7597x3197,2023,Batch-1,New Matthewton,2027
2,3,Jennifer Hill,25,Female,fordandrea@example.org,575-233-7523x27043,2021,Batch-2,East Frances,2025
3,4,Sheri Gonzalez,21,Other,millerjessica@example.net,685-887-5331x90431,2023,Batch-4,Port Fredville,2027
4,5,Donna Bright,23,Other,hurstamy@example.org,582-554-9174,2021,Batch-3,South Sonya,2025
5,6,Jonathan Nguyen,21,Male,rconrad@example.com,636-650-2793x329,2022,Batch-3,North Hollyhaven,2026
6,7,Meredith Porter,25,Male,vrobinson@example.com,(776)930-3817x1259,2021,Batch-3,Port Jean,2025
7,8,Brian Lane,20,Other,khamilton@example.net,577-536-5393,2020,Batch-1,Port Ruben,2024
8,9,Robert Campos,20,Female,kimberly95@example.com,872-746-4535x99103,2023,Batch-5,Samanthaton,2027
9,10,John Hill,22,Male,davidbrooks@example.com,001-395-322-0600x5332,2023,Batch-4,Danielsfort,2027

In [19]:
df_programming = pd.read_sql("SELECT * FROM programming LIMIT 10", connection)
df_programming

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\4253391639.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_programming = pd.read_sql("SELECT * FROM programming LIMIT 10", connection)

,programming_id,student_id,language,problems_solved,assessments_completed,mini_projects,certifications_earned,latest_project_score
0,1,1,SQL,151,6,1,3,48
1,2,2,Python,137,8,0,1,30
2,3,3,Python,10,9,2,0,21
3,4,4,Python,171,5,0,1,89
4,5,5,SQL,128,7,1,2,97
5,6,6,SQL,10,8,1,2,64
6,7,7,Python,52,1,3,1,18
7,8,8,Python,13,7,1,2,54
8,9,9,Python,37,8,2,3,7
9,10,10,Python,182,3,3,0,41

In [18]:
df_soft_skills = pd.read_sql("SELECT * FROM soft_skills LIMIT 10", connection)
df_soft_skills

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\4166992295.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_soft_skills = pd.read_sql("SELECT * FROM soft_skills LIMIT 10", connection)

,soft_skill_id,student_id,communication,teamwork,presentation,leadership,critical_thinking,interpersonal_skills
0,1,1,82,98,53,54,60,74
1,2,2,95,71,54,97,68,92
2,3,3,76,73,70,60,91,81
3,4,4,73,73,78,60,65,55
4,5,5,90,59,67,88,79,75
5,6,6,97,50,60,80,76,72
6,7,7,98,70,52,87,70,83
7,8,8,66,87,76,56,91,59
8,9,9,89,90,87,89,79,50
9,10,10,71,51,52,98,73,93

In [17]:
df_placements = pd.read_sql("SELECT * FROM placements LIMIT 10", connection)
df_placements

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5532\2941540937.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_placements = pd.read_sql("SELECT * FROM placements LIMIT 10", connection)

,placement_id,student_id,mock_interview_score,internships_completed,placement_status,company_name,placement_package,interview_rounds_cleared,placement_date
0,1,1,91,2,Not Ready,None,NaN,3,None
1,2,2,79,0,Ready,None,NaN,5,None
2,3,3,61,0,Ready,None,NaN,1,None
3,4,4,83,0,Ready,None,NaN,5,None
4,5,5,76,3,Ready,None,NaN,1,None
5,6,6,83,2,Placed,"Martin, Hoffman and Wolfe",14.97,1,2025-07-20
6,7,7,91,0,Placed,Garcia LLC,7.60,2,2025-05-08
7,8,8,98,1,Placed,Kim-Nelson,13.74,1,2025-01-11
8,9,9,40,1,Not Ready,None,NaN,2,None
9,10,10,68,3,Not Ready,None,NaN,3,None

In [21]:
pip install streamlit

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: streamlit in c:\users\lenovo\anaconda3\lib\site-packages (1.37.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\lenovo\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: toolz in c:\users\lenovo\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.4.26)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\lenovo\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)